			<div class="panel-body">

	  			<h5><i class="glyphicon glyphicon-user"></i><span> {{ comment.name }}</span></h5>
	  			<h4>{{ comment.comment }}</h4>
	  			<a ng-click="showReplyBox = 'true'">Reply</a>
	  			<form ng-show="showReplyBox">
		  			<div class="form-group">
			  			<input type="text" name="newc" ng-model="newChildComment.name" placeholder="Enter name" class="form-control">
			  		</div>
			  		<div class="form-group">
			  			<textarea ng-model="newChildComment.comment" placeholder="Enter New Comment" my-enter="newChildComment.name || addCommentDisc(comment, newChildComment);" class="form-control"></textarea>
			  		<div class="form-group">
				  		<a class="btn btn-primary" ng-click="addCommentDisc(comment, newChildComment);" ng-class="{disabled: !newChildComment.name || !newChildComment.comment}"><i class="glyphicon glyphicon-check"></i></a>
				  		<a class="btn btn-danger" ng-click="showReplyBox = 'false';newChildComment = {}"><i class="glyphicon glyphicon-remove"></i></a>
				  	</div>
			  		</div>
			  	</form>
	  			<!-- child comments -->
	  			<div class="panel panel-default" ng-repeat="cc in comment.comments">
	  				<div ng-include="'static/templates/comments.html'"></div>
  					
  				</div>
	  		</div>